.ContactPageContainer {
    padding: 0;
}

.Main {
    min-height: 100vh;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TitleContainer {
    position: absolute;
    top: 141px;
    height: 46px;
  }
  
  .Title {
    color: #495057;
    font-family: "Lora";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
  }
  
  
  .Title span {
    color: #d4a373;
    text-decoration: none;
  }
  
  .Title,
  .Description {
    text-align: center;
  }